<% content_for :header do -%>
	My <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<h2>Sidebar</h2>
	
	<ul>
		<li><a href="#">Link to someplace</a></li>
		<li><a href="#">Link to someplace</a></li>
		
	</ul>
		
	<ul>
		<li><a href="#">Link to someplace</a></li>
	</ul>
		
	<p>
		MMFA 
	</p>
<% end -%>

<p>
	<img border="0" align="left" width="140" vspace="8" hspace="5" height="122" alt="" src="/images/pharmacies.jpg">
	
Caring means more to us than just filling your prescription. Our pharmacy care extends to specialized and clinical care services for our customers. We work with you and your doctor to make sure you get the best care possible. As medication experts, our pharmacists are an active part of your healthcare team. Our pharmacy locations in professional medical buildings facilitate direct access to and consultation with your doctor or therapists.
</p>
<p>Safety and accuracy are the driving force behind our work procedures. Medical Pharmacies’ comprehensive computer system provides immediate assessment for possible drug interactions and duplicate therapies.

Workflow management is an integral element of our operating process. It not only supports productivity in the pharmacy, it also facilitates our extensive checks and balances in prescription preparation. Workflow is supported by efficient store and equipment layouts. In fact, to meet our specifications, we design the layouts and build our own fixtures. 
</p>

<p><img border="0" align="right" width="140" vspace="8" hspace="5" height="122" alt="" src="/images/parmacy2.jpeg">
At Medical Pharmacies, our services and programs are developed to focus on your health and pharmacy care.

We see immediate improvements in client service as we continually implement new technology tools in our pharmacies. Technology tools help to enhance safety and efficiency. Current systems include:

   <li> Interactive Voice Response (IVR) for prescription re-ordering
   <li> PDA devices to link our pharmacies directly to our warehouse
   <li> Specialized Smart Cabinets for prescription dispensing
   <li> Robotic workflow applications


	</p>


